    .topDiv {
        border: 5px outset navy;
        background-color: aqua;
        text-align: center;
    }

    .sectionDiv {
        border: 3px;
        text-align: left;
    }


    .tab {
        display: inline-block;
        margin-left: 120px;
    }

    .projectTab {
        display: inline-block;
        margin-left: 7px;
    }

    .leftColumn {
        float: left; width: 33.33%;
    }

    .middleColumn {
        float: left; width: 33.33%; 
        
    }

    .rightColumn {
        float: left; width: 33.33%;
       
    }